.mainpage {
    position: absolute;
    top: 95px;
    left: 330px;
    bottom: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap: 30px;
    overflow-y: auto;
    padding-right: 15px;
    padding-bottom: 15px;
}

.item-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 240px;
    width: 150px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    background: linear-gradient(135deg, #7fffd4, #40e0d0, #04a4a7);
    box-shadow: 0px 0px 10px rgb(0, 255, 255);
    transition: all .25s ease-in-out;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}

.item-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px aqua;

}

.item-card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    width: 130px;
    height: 170px;
    white-space: nowrap;
}

.item-icon {
    width: 100%;
    height: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    object-fit: cover;
}

.item-name {
    font-size: 12px;
    font-weight: bold;
}

.item-category {
    font-size: 12px;
    color: black;
}


.item-card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-to-cart-button {
    padding: 3px 8px;
    color: white;
    background-color: rgba(42, 59, 82, 0.5);
    border-color: rgba(42, 59, 82, 0.8);
    box-shadow: 0px 0px 5px black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.add-to-cart-button:hover {
    box-shadow: 0px 0px 8px black;
}



.buy-button {
    padding: 3px 8px;
    color: white;
    background-color: rgba(42, 59, 82, 0.5);
    border-color: rgba(42, 59, 82, 0.8);
    box-shadow: 0px 0px 5px black;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.buy-button:hover {
    box-shadow: 0px 0px 8px black;
}
