body {
    font-family: JetBrains Mono;
    background-image: url(/assets/website-icons/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

html, body {
    overflow: hidden;
    height: 100vh;
}